.App {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
}

.AppContent {
 width: 600px;
 height: 800px;
 background-color: #1A374D;
 color: white;
 padding: 0px 10px 10px 10px;
}

.navigation {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;

}

.navigation span {
	background-color: #6998AB;
	width: 100%;
	padding: 10px;
}

.navigation span:hover {
 background-color: #B1D0E0;
}

.bottom-left-radius {
	border-bottom-left-radius: 10px;
}

.bottom-right-radius {
	border-bottom-right-radius: 10px;
}

.navigation a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.navigation a:hover {
	color: white;
}

.strategyInfo {
	display: flex;
	justify-content: space-around;
}

.strategyInfo span {
	font-size: 30px;
}

.calcResultItem {
	display: flex;
	flex-direction: column;
}

.calcResultItem span {
	font-size: 40px;
}
